@model Adarsh.EmployeeCRM.Web.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "Create";
}

<div class="col-md-5">
    <h2>Create Vehicle</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

       <div class="mb-3">
            <label>VehicleNo</label><br />
            @Html.TextBoxFor(m => m.VehicleNo, new {@class = "form-control"})<br>
        <div class="bg-danger">
            @Html.ValidationMessageFor(m => m.VehicleNo)
        </div>
         
        </div>
        <div class="mb-3">
            <label>Status</label><br />
           <label> @Html.CheckBoxFor(m=>m.Status, new {@class= "form-check-input" }) Make Active </label>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Save</button>
        <a href="~/Vehicles" class="btn btn-primary">Back</a>

    }

</div>


